    
    <div class="grax_tm_all_wrap" data-magic-cursor="" data-color="crimson">
    <%= render partial: "/shared/header" %>
    <%= render partial: "/hero/hero" %>
    <%= render partial: "/about/about" %>
    <%= render partial: "/portfolio/portfolios" %>
    <%= render partial: "/progress/progress" %>
    <%= render partial: "/talk/talk" %>
    <%= render partial: "/contact/contact" %>
    <%= render partial: "/copyright/copyright" %>




    </div>



