
		<!-- ABOUT -->
	<div class="grax_tm_section" id="about">
		<div class="grax_tm_about">
			<div class="container">
				<div class="about_inner">
					<div class="left wow fadeInLeft" data-wow-duration="1.5s">
					<div class="image parallax" data-relative-input="true">
    <%= image_tag("img/placeholders/3-4.jpg", alt: "", class: "layer", data: { depth: "0.04" }) %>

    <div class="main layer" data-img-url="<%= asset_path('img/about/2.png') %>" data-depth="0.04"></div>
</div>

					</div>
					<div class="right wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
    <div class="grax_tm_title_holder">
        <h3>About <span>Me</span></h3>
    </div>
    <div class="text">
        <p>Hello! I'm Nouman Ghouri, a passionate and creative Video Editor & Motion Graphics Specialist. With years of experience in video production, post-production, and visual storytelling, I bring ideas to life through engaging and cinematic content. I thrive in transforming raw footage into compelling narratives, enhancing visuals with motion graphics, and ensuring high-quality video content that captivates audiences.</p>
    </div>
    <div class="list">
        <ul>
  <li>
    <div class="list_inner">
      <%= image_tag "img/svg/checked.svg", class: "svg", alt: "Checked" %>
      <span>Video Editing & Post-Production</span>
    </div>
  </li>
  <li>
    <div class="list_inner">
      <%= image_tag "img/svg/checked.svg", class: "svg", alt: "Checked" %>
      <span>Motion Graphics & Animation</span>
    </div>
  </li>
  <li>
    <div class="list_inner">
      <%= image_tag "img/svg/checked.svg", class: "svg", alt: "Checked" %>
      <span>Color Grading & Visual Effects</span>
    </div>
  </li>
  <li>
    <div class="list_inner">
      <%= image_tag "img/svg/checked.svg", class: "svg", alt: "Checked" %>
      <span>Sound Design & Audio Enhancement</span>
    </div>
  </li>
</ul>

    </div>
    <div class="grax_tm_button">
        <a href="img/resume/resume.jpg" download>Download CV</a>
    </div>
</div>

				</div>
			</div>
		</div>
	</div>