<!-- CONTACT -->
	<div class="grax_tm_contact" id="contact">
		<div class="container">
			<div class="grax_tm_title_holder">
				<h3>Get in <span>Touch</span></h3>
			</div>
			<div class="contact_inner">
				<div class="left wow fadeInLeft" data-wow-duration="1s">
					<div class="text">
						<p>Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday</p>
					</div>
					<div class="info_list">
						<ul>
							<li>
								<div class="list_inner">
	
                                     <a class="svg" href="#"><%= image_tag("img/svg/location.svg", alt: "img/svg/location.svg") %></a>
									<p><span class="first">Address:</span><span class="second">Brook 103, New York, USA</span></p>
								</div>
							</li>
							<li>
								<div class="list_inner">
								
                                    <a class="svg" href="#"><%= image_tag("img/svg/email.svg", alt: "img/svg/location.svg") %></a>
									<p><span class="first">Email:</span><span class="second"><a href="#">example@gmail.com</a></span></p>
								</div>
							</li>
							<li>
								<div class="list_inner">
							
                                    <a class="svg" href="#"><%= image_tag("img/svg/phone.svg", alt: "img/svg/location.svg") %></a>

									<p><span class="first">Phone:</span><span class="second"><a href="#">+77 033 442 55 57</a></span></p>
								</div>
							</li>
						
							<li>
								<div class="list_inner">
                                    <a class="svg" href="#"><%= image_tag("img/svg/social/twitter.svg", alt: "img/svg/twitter.svg") %></a>
									<p><span class="first">Twitter:</span><span class="second"><a href="#">@twitternickname</a></span></p>
								</div>
							</li>
							<li>
								<div class="list_inner">
							
                                    <a class="svg" href="#"><%= image_tag("img/svg/social/facebook.svg", alt: "img/svg/facebook.svg") %></a>
                                    
									<p><span class="first">Facebook:</span><span class="second"><a href="#">@facebooknickname</a></span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="right wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
					<div class="fields">
			<form action="<%= contact_path %>" method="post" class="contact_form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="first">
    <ul>
      <li>
        <input 
          name="name" 
          type="text" 
          placeholder="Name" 
          required 
          minlength="2" 
          maxlength="50" 
          pattern="[A-Za-z\s]+" 
          title="Name should only contain letters and spaces"
        >
      </li>
      <li>
        <input 
          name="email" 
          type="email" 
          placeholder="Email" 
          required 
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
          title="Enter a valid email address"
        >
      </li>
    </ul>
  </div>

  <div class="last">
    <textarea 
      name="message" 
      placeholder="Message" 
      required 
      minlength="10" 
      maxlength="500" 
      title="Message should be between 10 and 500 characters"
    ></textarea>
  </div>

  <div class="grax_tm_button">
    <button type="submit">Send Message</button>
  </div>
</form>



					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /CONTACT -->